<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=200px, initial-scale=1.0" />
		<!-- <meta http-equiv="X-UA-Compatible" content="ie=edge" /> -->

		<!-- Bootstrap Link -->
		<link
			rel="stylesheet"
			href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
			integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
			crossorigin="anonymous"
		/>

		<title>Event Page 4</title>

		<style>
			:root {
				--p1: #9999ff;

				--light-black: rgb(104, 104, 104);

				--black: #000000;
				--white: #ffffff;

				--mess-fg: #ffffff;
				--mess-bg: #497aa3;
			}

			. {
				border-radius: 1rem;
				padding: 20px;
			}

			.header {
				text-align: center;
				padding: 1rem;
				color: var(--black);
			}

			.header h1 {
				padding: 2rem;
			}

			.subHeader {
				color: var(--light-black);
			}

			.subHeader.details {
				text-align: center;
			}

			.links {
				text-align: center;
			}

			.links button {
				max-width: 300px;
				margin: auto;
			}

			.message {
				margin: 1rem;
				padding: 1rem;
				border-radius: 1rem;
				background-color: var(--mess-bg);
				color: var(--mess-fg);
			}

			.chat {
				overflow-y: scroll;
				height: 40rem;
			}

			.chat_input {
				margin: 1rem;
				padding: 2rem;
			}
		</style>
									<script type="text/javascript" src="../../resources/scripts/scripts.js"></script>
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>

	<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.7.1/js/bootstrap-datepicker.min.js"></script>

	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
	</head>
	<body class="container mess-bg-light">
		<script type="text/javascript">

		function updateDate(date, data)
		{
			var textBox = document.getElementById('dateEventDisplay');
			var text = "";

			dailyEvents = '';

			text = "<h5>Showing events for " + date + "</h5>";
			
			textBox.innerHTML = text;
		}

	</script>
	<nav class="navbar TopNavBar" style="background: rgba(234, 246, 255); border-bottom: 1px solid black;">
		<a href="LandingPage.ejs">
			<button type="button" class="btn btn-outline-dark" style="background: white;">Home</button>
		</a>
		<a href="profilepage.html" class="btn btn-secondary btn-lg active" role="button" aria-pressed="true">My Profile</a>
		<a href="#signInModal" class="btn btn-outline-primary" data-toggle="modal" onclick="openModal()">Log in</a>
	</nav>

	<div id="signInModal" class="modal fade">
		<div class="modal-dialog modal-login">
			<div class="modal-content">
				<div class="modal-header">
					<div class="row">
						<div class="col">
							<button id="LoginButton" class="btn btn-primary" onclick="openLogIn()">Log&nbspin</button>
						</div>
						<div class="col">
							<button id="SignupButton" class="btn btn-outline-primary" onclick="openSignUp()">Sign&nbspup</button>
						</div>
					</div>
				</div>
				<div class="modal-body">
					<div id="signInDiv">
						<br>
						<div class="form-group row">
							<label for="loginUsername" class="col-sm-2 col-form-label">Username</label>
							<div class="col-sm-10">
								<input type="text" class="form-control" id="loginUsername" placeholder="Username">
							</div>
						</div>
						<div class="row">
							<label for="loginPassword" class="col-sm-2 col-form-label">Password</label>
							<div class="col-sm-10">
								<input type="password" class="form-control" id="loginPassword" placeholder="Password">
							</div>
						</div>

						<div class="d-flex justify-content-center">
							<small>Not a member? <a href="#" onclick="openSignUp()">Sign up</a></small>							
						</div><br>

						<div class="d-flex justify-content-center">
								<button id="SignIn" class="btn btn-primary btn-sm">Log&nbspin</button>
						</div>
					</div>
					<div id="signUpDiv" class="hidden">

						<br>
						<div class="row">
							<div class="col-sm-2">
								<label for="signupNameFirst" class="col-form-label">Your&nbspname</label>
							</div>
							<div class="col-sm-5" style="padding-right: 0px;">
								<input type="text" class="form-control" id="signupNameFirst" placeholder="First">
							</div>
							<div class="col-sm-5">
								<input type="text" class="form-control" id="signupNameLast" placeholder="Last">
							</div>
						</div><hr>

						<div class="row sp">
							<div class="col-sm-2">
								<label for="signupEmail" class="col-form-label">Email</label>
							</div>
							<div class="col-sm-10">
								<input type="email" class="form-control" id="signupEmail" placeholder="example@Email.com">
							</div>
						</div>

						<div class="row sp">
							<div class="col-sm-2">
								<label for="signupUsername" class="col-form-label">Username</label>
							</div>
							<div class="col-sm-10">
								<input type="text" class="form-control" id="signupUsername" placeholder="Username">
							</div>
						</div>

						<div class="row">
							<div class="col-sm-2">
								<label for="signupPass1" class="col-form-label">Password</label>
							</div>
							<div class="col-sm-10">
								<input type="password" class="form-control" id="signupPass1" placeholder="Password" style="margin-bottom: 5px;">
								<input type="password" class="form-control" id="signupPass2" placeholder="Confirm password">
							</div>
						</div>

						<div class="d-flex justify-content-center">
							<small>Already a member? <a href="#" onclick="openLogIn()">Log in</a></small>							
						</div><br>

						<div class="d-flex justify-content-center">
								<button id="SignUn" class="btn btn-primary btn-sm">Sign&nbspup</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
		<div class="header">
			<h1>Non-Specific Non-Party Affiliated Political Figure Rally</h1>
		</div>

		<hr />

		<!-- Carousel Row -->
		<div class="row">
			<!-- Carousel -->
			<div id="photo_carousel" class="col carousel slide" data-ride="carousel">
				<div class="carousel-inner">
					<div class="carousel-item active">
						<img
							src="../../resources/img/political.jpg"
							class="d-block w-100"
							alt="Gothic Theatre"
						/>
					</div>
				</div>
				<a
					class="carousel-control-prev"
					href="#photo_carousel"
					role="button"
					data-slide="prev"
				>
					<span class="carousel-control-prev-icon" aria-hidden="true"></span>
					<span class="sr-only">Previous</span>
				</a>
				<a
					class="carousel-control-next"
					href="#photo_carousel"
					role="button"
					data-slide="next"
				>
					<span class="carousel-control-next-icon" aria-hidden="true"></span>
					<span class="sr-only">Next</span>
				</a>
			</div>
		</div>

		<!-- 2nd Row -->
		<div class="row" style="padding: 2rem;">
			<div class="col">
				<h4 class="header">Start Date:</h4>
				<p class="subHeader details">7/18/2020 4:30pm</p>
				<h4 class="header">End Date:</h4>
				<p class="subHeader details">7/18/2020 8:30pm</p>
				<h4 class="header">Location</h4>
				<p class="subHeader details">Colorado Convention Center</p>
			</div>
			<!-- Description -->
			<div class="col">
				<h4 class="header">Description:</h4>
				<p class="subHeader description">
					This nonspecific political figure is running for this non specified political office position. Come support them and help them win the vote.
				</p>
			</div>
		</div>

		<!-- Tickets & Links row -->
		<div class="row links">
			<button
				type="button"
				class="btn btn-outline-info"
				onclick="window.location=#"
			>
				Tickets Link
			</button>
			<button
				type="button"
				class="btn btn-outline-info"
				onclick="window.location=#"
			>
				Band Page
			</button>
		</div>

		<hr />

		<!-- Chat Row -->
		<h3 class="header">Chat:</h3>
		<div class="row">
			<div class="container chat">
				<div class="message">
					<h5>Ben:</h5>
					<p>I'm running for office</p>
				</div>
				<div class="message">
					<h5>Sarah Sand:</h5>
					<p>Wow this event sounds pretty neat!</p>
				</div>
				<div class="message">
					<h5>Person:</h5>
					<p>
						Love to support
					</p>
				</div>
				<div class="message">
					<h5>Henery:</h5>
					<p>Sonds pretty need!</p>
				</div>
				<div class="message">
					<h5>One more:</h5>
					<p>Cool Cool Cool!</p>
				</div>
				<div class="message">
					<h5>Another Name:</h5>
					<p>
						Yea this event sounds really cool to go check out! I might bring my
						grandma!
					</p>
				</div>
			</div>
			<div class="input-group input-group-lg chat_input">
				<input
					type="text"
					class="form-control"
					aria-label="Sizing example input"
					aria-describedby="inputGroup-sizing-lg"
				/>
				<div class="input-group-append">
					<button class="btn btn-outline-secondary" type="button">
						Comment
					</button>
				</div>
			</div>
		</div>
	</body>
</html>